/*
    Author: Darian Hughes
    Date: 4/1/2024
    Assignment: My Schedule
    style.css
*/

html {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
}

body {
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}